In [1]:
class Employee:
  def __init__(self, name, age,gender, dept):  # Constructor for Employee class
    self.name = name
    self.age = age
    self.gender = gender
    self.dept = dept
    print("I'm inside the constructor function for Employee Class")

In [2]:
Employee

__main__.Employee

In [3]:
emp1 = Employee('Sam',25,'M','Production')

I'm inside the constructor function for Employee Class

In [4]:
class emptyClass:
  pass

In [5]:
emc = emptyClass()

In [6]:
emc

In [7]:
class Employee:

  EmployeeCount = 0                 # Class variable. This is common to all the objects defined for this class.

  def __init__(self, name, age,gender, dept):  # Constructor for Employee class
    self.name = name
    self.age = age
    self.gender = gender
    self.dept = dept
    self.empId = Employee.EmployeeCount + 1
    Employee.EmployeeCount += 1
    print("Employee Created Successfully!")

  # Method to disply Employee's Details

  def get_employee_details(self):
    print('Employee: ',self.name, 'belongs to dept: ', self.dept, 'with EmployeeID:', self.empId)

In [8]:
emp1 = Employee('Sam',25,'M','Production')

Employee Created Successfully!

In [9]:
emp1.empId

1

In [10]:
emp1.get_employee_details()

Employee:  Sam belongs to dept:  Production with EmployeeID: 1

In [11]:
emp2 = Employee('Ann',24,'F','Accounts')

Employee Created Successfully!

In [12]:
emp2.empId

2

In [13]:
Employee.EmployeeCount

2

In [14]:
emp1.EmployeeCount

2

In [15]:
emp2.EmployeeCount

2

In [16]:
class EmployeeTest:

   def __init__(self, name, age,gender, dept):  # Constructor for Employee class

    self.EmployeeCount = 0
    self.name = name
    self.age = age
    self.gender = gender
    self.dept = dept
    self.empId = self.EmployeeCount + 1
    self.EmployeeCount += 1
    print("Employee Created Successfully!")

    # Method to disply Employee's Details
   def get_employee_details(self):
    print('Employee: ',self.name, 'belongs to dept: ', self.dept, 'with EmployeeID:', self.empId)

In [17]:
test = EmployeeTest('abc','1','F','testing')

Employee Created Successfully!

In [18]:
test2 = EmployeeTest('abcd','5','F','testing')

Employee Created Successfully!

In [19]:
test.get_employee_details()

Employee:  abc belongs to dept:  testing with EmployeeID: 1

In [20]:
test2.get_employee_details()

Employee:  abcd belongs to dept:  testing with EmployeeID: 1

In [21]:
class Employee:

  EmployeeCount = 0                 # Class variable. This is common to all the objects defined for this class.

  def generateEmpId(self):
    Employee.EmployeeCount += 1
    return Employee.EmployeeCount

  def __init__(self, name, age,gender, dept):  # Constructor for Employee class
    self.name = name
    self.age = age
    self.gender = gender
    self.dept = dept
    self.empId = self.generateEmpId()
    print("Employee Created Successfully!")

  # Method to disply Employee's Details

  def get_employee_details(self):
    print('Employee: ',self.name, 'belongs to dept: ', self.dept, 'with EmployeeID:', self.empId)

In [22]:
emp1 = Employee('Sam',25,'M','Production')

Employee Created Successfully!

Inheritance - Base/Derived class examples

In [23]:
# We're going to create two derived classes: tech and non tech
class TechEmployee(Employee):
  pass

In [24]:
tech1 = TechEmployee('Arush',25,'M','Biomedical')

Employee Created Successfully!

In [25]:
tech1.EmployeeCount

2

In [26]:
tech1.get_employee_details()

Employee:  Arush belongs to dept:  Biomedical with EmployeeID: 2

In [27]:
emp2 = Employee('Jiva',24,'M','Accounts')

Employee Created Successfully!

In [28]:
emp1.EmployeeCount

3

In [29]:
tech1.EmployeeCount

3

In [30]:
class NonTechEmployee(Employee):
  def __init__(self, name, age, gender, dept, experience):  # Constructor for my derived class
    super().__init__(name, age, gender, dept)
    #Employee.__init__(self, name, age, gender, dept)
    self.experience = experience

In [31]:
nontech1 = NonTechEmployee('Arushi',28,'F','Accounting',4)

Employee Created Successfully!

In [32]:
tech1.experience

AttributeError: 'TechEmployee' object has no attribute 'experience'

In [33]:
nontech1.experience

4

In [34]:
nontech1.name

'Arushi'

In [ ]:
class TechEmployee(Employee):
  def __init__(self, name, age, gender, dept):
    super().__init__(name,age, gender, dept)

# The above lines acheive the same effect as this:

class TechEmployee(Employee):
  pass

In [35]:
nontech1.get_employee_details()

Employee:  Arushi belongs to dept:  Accounting with EmployeeID: 4

In [36]:
class ContractEmployee(Employee):

  contractEmpCount = 0

  def __init__(self, name, age, gender, dept, experience, contract_months):  # Constructor for my derived class
    super().__init__(name, age, gender, dept)
    self.experience = experience
    self.contract_months = contract_months
    self.empId = ContractEmployee.contractEmpCount + 1
    ContractEmployee.contractEmpCount += 1

  def get_employee_details(self):
    print('Contract Employee: ',self.name,'belongs to department: ', self.dept, 'for months:', self.contract_months)

In [37]:
cemp = ContractEmployee('Anil',25,'M','Logistics',2,11)

Employee Created Successfully!

In [38]:
cemp.empId

1

In [39]:
cemp.get_employee_details()

Contract Employee:  Anil belongs to department:  Logistics for months: 11